<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Them Loai San Pham</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Them Loai San Pham</h1>
    <br>
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" style="width:50%;" placeholder="Ma Loai San Pham" name="loai_sp_masp" value="{{
          request.form.loai_sp_masp }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" style="width:50%;" placeholder="Xuat Xu " name="xuatXu" value="{{
          request.form.xuatXu }}">
        </div>
      <input class="btn btn-success" type="submit" value="Them">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>
<a href="/" >
    <button type="button">Back</button>
</a>
</body>
</html>