<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Them khach hang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Them khach hang</h1>
    <br>
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" style="width:50%;" placeholder="Ma khach hang" name="maKH" value="{{
          request.form.maKH }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" style="width:50%;" placeholder="Ho Ten" name="hoten" value="{{
          request.form.hoten }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" style="width:50%;" placeholder="Dia chi" name="dchi" value="{{
        request.form.dchi }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" style="width:50%;" placeholder="So dien thoai" name="sodt" value="{{
        request.form.sodt }}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" style="width:50%;" placeholder="Ngay sinh" name="ngSinh" value="{{
        request.form.ngSinh }}">
      </div>
      <input class="btn btn-success" type="submit" value="Them">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>
<a href="/" >
    <button type="button">Back</button>
</a>
</body>
</html>