<html>
    <style> table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: Center;    
        }
    </style>
    <body>
    {% block content %}
        <h1>{% block title %} Hien thi thong tin hoa don {% endblock %}</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Ma Hoa Don</th>
                    <th>Ngay Xuat Hoa Don</th>
                    <th>Ma Khach Hang</th>
                    <th>Tri Gia</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row %}
                        <td>
                            {{item}}
                        </td>
                        {% endfor %}
                    </tr>  
                    {% endfor %}
            </tbody>
        </table>           
    {% endblock %}
    <a href="/" >
        <button type="button">Back</button>
    </a>
</body>
</html>   