<html>
<head>
<title>Welcome to My Database </title>
</head>
<body>
<h1>Database - Team Phạm Minh Khôi </h1>
<a href="/users" >
    <button type="button">Người Dùng</button>
</a>
<a href="/items" >
    <button type="button">Sản Phẩm</button>
</a>
<a href="/loaisp" >
    <button type="button">Mã Xuất Xứ Sản Phẩm</button>
</a>
<a href="/hoadon" >
    <button type="button">Hoá Đơn</button>
</a>
<a href="/cthd" >
    <button type="button">Chi Tiết Hoá Đơn</button>
</a>
</body>
</html>