<html>
    <style> table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: Center;    
        }
    </style>

    <body>
        {% block content %}
            <h1>{% block title %} Hien thi thong tin san pham{% endblock %}</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Ma san pham</th>
                        <th>Ten san pham</th>
                        <th>Don vi tinh</th>
                        <th>Gia</th>
                        <th>Loai San Pham</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for item in row %}
                            <td>
                                {{item}}
                            </td>
                            {% endfor %}
                        </tr>  
                        {% endfor %}
                </tbody>
            </table>
        {% endblock %}
        <a href="/create_items" >
            <button type="button">Them</button>
        </a>
        <a href="/" >
            <button type="button">Back</button>
        </a>
        <form method="POST">
            <input name="text" placeholder="Ma san pham">
            <input type="submit" value="Xoa">
        </form>           
</body>
</html>