<html>
    <style> table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        text-align: Center;    
        }
    </style>
    <body>
        {% block content %}
            <h1>{% block title %} Hien thi thong tin xuat xu san pham {% endblock %}</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>Ma loai san pham</th>
                        <th>Xuat Xu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for item in row %}
                            <td>
                                {{item}}
                            </td>
                            {% endfor %}
                        </tr>  
                        {% endfor %}
                </tbody>
            </table>
        {% endblock %}
        <a href="/create_loaisp" >
            <button type="button">Them</button>
        </a>
        <a href="/" >
            <button type="button">Back</button>
        </a>         
</body>
</html>